In [ ]:
Problem 1: Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")

words = sentence.split()          # Split sentence into words
unique_words = set(words)         # Convert to set (removes duplicates)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'and', 'easy', 'is', 'powerful'}

Problem 2: Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [7]:
text = "python"

char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [8]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks

In [10]:
marks = [70, 75, 80, 65]

total = sum(marks)
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5